/* Outfit */ @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
	--background: rgb(10, 10, 25);
	--text: rgb(228, 235, 244);
	--green: rgb(100, 221, 135);
	--hover-green: rgb(93, 192, 96);
	--orange: rgb(255, 183, 77);
	--hover-orange: rgb(255, 160, 0);
	--red: rgb(239, 83, 80);
	--hover-red: rgb(229, 57, 53);
	--blueish-grey: rgb(115, 117, 129);
	--dark-blue: rgb(36, 36, 56);
}

* {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
}

*:focus {
	outline: none;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: 'Outfit', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.wrapper {
	flex: 1;
}

nav ul {
	list-style: none;
	display: flex;
	width: 100vw;
	height: max-content;
	justify-content: end;
	align-items: center;
	padding: 40px;
	margin: 0;
}

nav li a{
	margin-right: 40px;
	color: white;
	text-decoration: none;
	position: relative;
}

nav li:first-child {
	margin-right: auto;
	margin-left: 0;
}

nav li:first-child a {
	font-weight: bolder;
}

nav ul li:last-of-type a {
	margin-right: 0; /* Remove margin for last link */
}

nav li a.active::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: white;
	position: absolute;
	top: 125%;
	left: 0%;

	animation: all 0.5s ease-in-out;
}

.timer-wrapper,
.stopwatch-wrapper,
.pomodoro-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.timer-container,
.stopwatch-container,
.pomodoro-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

h1 {
	margin-bottom: 0;
}

.timer-display,
.stopwatch-display,
.pomodoro-display {
	font-size: 10rem;
	padding: 20px 20px 0 20px; /* No margin bottom */
}

button {
	margin: 0 5px;
	padding: 0.75rem 1.25rem;
	border: none;
	border-radius: 50px;
	font-size: 1rem;
	cursor: pointer;

	transition: all 0.3s ease-in-out;
}

button:hover {
	transform: scale(1.05);
}

#startButton, #playButton {
	background-color: var(--green);
	color: black;
}

#startButton:hover, #playButton:hover {
	background-color: var(--hover-green);
}

#pauseButton {
	background-color: var(--orange);
	color: black;
}

#pauseButton:hover {
	background-color: var(--hover-orange);
}

#resetButton {
	background-color: var(--red);
	color: black;
}

#resetButton:hover {
	background-color: var(--hover-red);
}

.settings {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input[type="number"] {
	background-color: var(--dark-blue);
	color: var(--text);
	width: 30px;
	height: 20px;
	border-radius: 5px;
	border: none;
	margin: 0 10px 20px 5px; /* 10 -> right; 20 -> bottom; 5 -> left */
	padding: 15px 2px;
	font-size: 1rem;
	text-align: center;
}

/* Remove inner increase/decrease buttons */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.checkbox {
	display: flex;
  	align-items: center;
	cursor: pointer;
	accent-color: var(--dark-blue);
	margin-bottom: 10px;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

input[type="checkbox"], input[type="checkbox"] + label {
	cursor: pointer;
}

footer {
	color: var(--blueish-grey);
	padding: 20px;
}